{% extends 'templates/base.njk' %} {% block content %}
<div class="container-fluid d-flex flex-column vh-100">
  <div class="row">
    <div class="column">
      {% if error %}
      <div class="alert alert-danger" role="alert">
        <p>{{ error }}</p>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row flex-grow-1">
    <div class="col-6 bg-primary"></div>
    <div class="col-6 p-4">
      <h2>Login</h2>
      <form
        method="POST"
        action="/admin/login"
        autocomplete="on"
        class="form-control needs-validation"
      >
        <div class="form-group p-2">
          <label for="email" class="form-label"
            >Email <span style="color: red">*</span></label
          >
          <input
            class="form-control"
            id="email"
            name="email"
            type="email"
            required
          />
        </div>

        <div class="form-group p-2">
          <label for="password" class="form-label"
            >Password <span style="color: red">*</span></label
          >
          <input
            class="form-control"
            id="password"
            name="password"
            type="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary m-2">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
