<nav class="navbar navbar-light bg-light">
  <div class="container-fluid ms-2">
    <a class="navbar-brand">{{ title }}</a>
    <button class="btn align-self-end" type="button">
      <i class="bi bi-person-circle"></i>
    </button>
  </div>
</nav>
