<div class="sidebar">
  <ul class="nav flex-column p-2">
    <li class="nav-item">
      <a href="/admin/dashboard" class="nav-link text-light">Dashboard</a>
    </li>
    <li class="nav-item">
      <a href="/admin/employees" class="nav-link text-light">Employees</a>
    </li>
    <li class="nav-item">
      <a href="/admin/leaves" class="nav-link text-light">Leaves</a>
    </li>
    <li class="nav-item">
      <a href="/admin/departments" class="nav-link text-light">Departments</a>
    </li>
  </ul>
</div>
